.navbar-fixed {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 99;
}

.navbar {
	background-color: black;
	color: white;
	display: grid;
	align-content: center;
}

.navbar a {
	color: white;
	text-decoration: none;
}

.user-role-info {
	text-align: end;
	margin-top: auto;
	margin-bottom: auto;
	padding-right: 1rem;
}

.navbar-item {
	text-decoration: underline;
	padding: 14px 16px;
}

.navbar-item:hover {
	background-color: gray;
}
