.navbar-fixed {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 99;
}

.navbar {
	background-color: black;
	color: white;
	align-content: center;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;
	cursor: pointer;
}

.user-role-info {
	text-align: end;
	margin-top: auto;
	margin-bottom: auto;
	padding-right: 1rem;
}

.navbar-item {
	text-align: center;
	text-decoration: underline;
	padding: 1rem 1rem;
	float: left;
}

.navbar-item:hover:not(.active) {
	background-color: gray;
	border-radius: 1rem;
}

.active {
	background-color: darkgray;
	border-radius: 0.75rem;
}
