.add-grocerie-wrapper {
	box-shadow: 0 0 1rem rgba(17, 68, 34, 0.2);
	margin: 0.25rem;
	padding: 0.25rem;
	position: relative;
	border-radius: 1rem;
}

.add-grocerie-wrapper input {
	width: 100%;
}

.add-grocerie-button {
	padding-left: 1rem;
	margin-top: auto;
	margin-bottom: auto;
}
