.register-screen {
	text-align: center;
}

.error-message {
	background-color: red;
}

.form-text-align {
	text-align: end;
	margin-top: auto;
	margin-bottom: auto;
	padding-right: 1rem;
}

.register-screen__subtext {
	font-size: 0.7rem;
	display: block;
	margin: 0.5rem 0;
}
